<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Registration</title>
</head>

<body>


    <div id="container">

        <h1>Welcome to Gulp!</h1>

        <div class='boxes'>
            <div class="regis">
                <h2>Register</h2>
                <form action="/usernew" method="POST">
                    <p>First Name:<input type="text" name="fname"></p>
                    <p>Last Name:<input type="text" name="lname"></p>
                    <p>Email:<input type="text" name="email"></p>
                    <p>Password:<input type="password" name="password"></p>
                    <p>Confirm Password:<input type="password" name="c_password"></p>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>

            <hr>
            <div class="login">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <p>Email:<input type="text" name="email" placeholder="Test@email.com"></p>
                    <p>Password:<input type="password" name="password" placeholder="12345"></p><br>
                    <input type="submit" value="Login" class='button'>
                </form>
            </div>

        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

</body>

</html>