<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='entry.css') }}">
    <title>Welcome!</title>
</head>

<body>
    <a href="/logout" class="btn btn-dark boton" class='gretting'>Logout</a>
    <div class="container">

        <div class='top'>
            <h1 class="greeting">Welcome {{session['greeting']}} {{session['greeting2']}}!</h1>
            
        </div>
        <h2>Find Coffee Shops Near You!</h2>

        <form method="POST">
            <p class="search"><span class="searchtxt">Enter Location:</span> <input type="text"  name="location" placeholder="City Name" class="box">
                <input type="submit" value="Search" class="btn btn-dark"></p>
        </form>


        <div class="overflow-auto">
            <p class="results"><strong>Results:</strong> </p>
            {% for api in data['businesses']%}
            <p class="shop">Name: {{api['name']}}</p>
            <p>Phone: {{api['phone']}}</p>
            <p>Location: {{api['location']['city']}}</p>
            <p>State: {{api['location']['state']}}</p>
            <hr>
            {% endfor %}
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        
    </div>

</body>

</html>